body {
  background-color: #999;
  font-family: "Zilla Slab", serif;
}

.container {
  width: 80%;
  background-color: white;
  margin: 30px;
  font-size: 18px;
  display: grid;
}

.header {
  grid-template-areas: "header header header";
}

.title h1 {
  grid-area: header;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 3em;
  text-decoration: underline;
}
